:root {
    --color1: #FFC600;
    --color2: #E900FF;
    --color3: #5800FF;
    --playerHeight: 80px;
    --menuWidth: 400px;
    --animationSpeed: 0.5s;
}

.background {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: blur(40px);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image:url(/img/background.png);
}

body {
    margin: 0; 
 }
.body {
    position: absolute;
    width: 100%;
    height: 100%;
    display: grid;
    flex-direction: column;
    grid-template-rows: 1fr var(--playerHeight);
    font-family: 'Raleway', sans-serif;   
}

.color1 {
    color: var(--color1);
}

.color2 {
    color: var(--color2);
}

.color3 {
    color: var(--color3);
}

.bcolor1 {
    background-color: var(--color1);
}

.bcolor2 {
    background-color: var(--color2);
}

.bcolor3 {
    background-color: var(--color3);
}

.glow1 {
    box-shadow: 0 0 10px var(--color1);
}

.glow2 {
    box-shadow: 0 0 10px var(--color2);
}

.glow3 {
    box-shadow: 0 0 10px var(--color3);
}

.textglow1 {
    text-shadow: 0 0 10px var(--color1);
}

.textglow2 {
    text-shadow: 0 0 10px var(--color2);
}

.textglow3 {
    text-shadow: 0 0 10px var(--color3);
}

.line {
    height: 1px;
    width: 80%;
}

.layoutGrid {
    display: grid;
    flex-direction: row;
    grid-template-columns: var(--menuWidth) 1fr;
}

.menu {
    width: 400px;
    padding: 40px 0 0 0;
    flex-basis: 20%;
    background-color: #151515f0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.pageContainer {
    background-color: #1f1f1ff0;
}

.playerContainer {
    position: relative;
    display: flex;
}

.logospan {
    font-family: 'Raleway', sans-serif;
    font-weight: 500;
    font-size: 30px;
    text-align: center;
}

.logo {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 30px;
}

.menuElement {
    height: 29px;
    padding: 15px 40px;
    width: calc(var(--menuWidth) - 80px);
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    transition: color var(--animationSpeed), text-shadow var(--animationSpeed), box-shadow var(--animationSpeed), background-color var(--animationSpeed);
}

.menuElementIcon {
    transition: box-shadow var(--animationSpeed);
}

.menuElement:hover {
    color: var(--color2);
    text-shadow: 0 0 10px var(--color2);
    box-shadow: inset 33px 0px 10px -30px  var(--color2);
}

.menuElement:hover > .menuElementIcon {
    box-shadow: 0 0 10px var(--color2);
}


.headline {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 0 20px 0;
    width: 100%;
    color: white;
    font-weight: 500;
    font-size: 24px;
}

.menuPlaylistsContainer {
    width: 100%;
    height: 100%;
    position: relative;
}

.menuPlaylists {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

.menuPlaylistElement {
    width: 100%;
    padding: 12px 40px;
    width: calc(var(--menuWidth) - 80px);
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: start;
    align-items: center;
    font-weight: 400;
    font-size: 18px;
    text-decoration: none;
    color: #ffffff;
    transition: color var(--animationSpeed), text-shadow var(--animationSpeed), box-shadow var(--animationSpeed), background-color var(--animationSpeed);
}

.menuPlaylistImg {
    border-radius: 10%;
    width: 30px;
    height: 30px;
    transition: box-shadow var(--animationSpeed);
}

.menuPlaylistElement:hover {
    color: var(--color1);
    text-shadow: 0 0 10px var(--color1);
    box-shadow: inset 33px 0px 10px -30px  var(--color1);
}

.menuPlaylistElement:hover > .menuPlaylistImg {
    box-shadow: 0 0 10px white;
}


::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: none;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--color1);
}