@model LoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "_FormLayout";
}

<div class="headline">Login</div>
<form class="form" method="post" asp-controller="Auth" asp-action="Login">
    <div asp-validation-summary="ModelOnly"></div>
    @Html.EditorForModel()
    <input type="submit" value="Sign in" />
    <input type="submit" asp-controller="Auth" asp-action="GoogleLogin" value="Sign in with Google"/>
</form>
<a class="authLink" asp-controller="Auth" asp-action="Register">Create an account</a>