@using Planscam.Extensions
@model Planscam.Entities.Playlist

<div>
    @Html.DrawSmallPlaylistPic(Model.Picture)
    @Html.DisplayForModel()
    @Html.ActionLink("Open", "Index", "Playlists", new {Model.Id})
</div>