@using Planscam.Extensions
@model List<Planscam.Entities.Track>

@{
    ViewBag.Title = "My tracks";
    Layout = "_Layout";
}

<h2>My tracks</h2>

@foreach (var track in Model)
{
    @await Html.PartialAsync("Track", track)
    @Html.ActionLink("Delete", "DeleteTrack", new {returnUrl = Context.GetCurrentUrl(), track.Id})
    <br/>
}